html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.home {
  display: flex;
  flex-direction: column; /* 縦方向に並べる */
  background-color: #fff;
  color: #000;
  height: 100vh;
  padding-top: 10px;
}

.profile {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto; /* 子要素の高さに応じて自動調整 */
  margin: 0 auto;
  margin-top: 40px;
}

.pbox {
  width: 70%;
  height: 100%;
  z-index: 999;
  font-size: 14px;
  // overflow: auto; 
}

.image {
  width: 70px;
  height: 70px;
  margin-top: 5px;
  border-color: #afafaf;
  border-width: 1px;
  border-style: solid; /* 追加する行 */
  border-radius: 50%;
  background-color: #fff;
}

.jikopr {
  display: flex;
  justify-content: end;
  width: auto;
  padding-left: 10px;
  // height: 100px;
}

.skiil {
  display: flex;
  justify-content: end;
  width: auto;
  padding-left: 10px;
  // height: 100px;
}

.textarea1 {
  display: flex;
  width: 70%;
  height: 10px;
  margin: 10px;
  z-index: 999;
}

.textarea2 {
  display: flex;
  width: 70%;
  height: 10px;
  margin: 10px;
  z-index: 999;
}


.plofilebox1 {
  display: flex;
  justify-content: start;
  align-items: center;
  height: auto;
  margin: 10px;
  z-index: 999;
}

.plofilebox2 {
  display: flex;
  justify-content: start;
  align-items: center;
  height: auto;
  margin: 10px;
  z-index: 999;
}

.resume {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px;
  border-top: 1px solid #afafaf;
  border-style: solid;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  // width: 100%;
  z-index: 999;
}

button {
  font-size: 16px;
  width: 25%;
  height: 50px;
  margin: 20px;
  border-radius: 5px;
  border-width: 0;
}

.rirekisho {
  font-size: 16px;
  width: 25%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius: 5px;
  border-width: 0;
  background-color: rgb(179, 235, 235);
  color: black;
  text-decoration: none;
}

.rirekisho:hover {
  font-size: 16px;
  width: 25%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius: 5px;
  border-width: 0;
  background-color: rgb(107, 207, 207);
  color: black;
}

.syokureki {
  font-size: 16px;
  width: 25%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius: 5px;
  border-width: 0;
  color: black;
  background-color: rgb(245, 248, 74);
  text-decoration: none;
}

.syokureki:hover {

  background-color: rgb(220, 223, 40);
}

.port {
  font-size: 16px;
  width: 25%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius: 5px;
  border-width: 0;
  color: black;
  background-color: rgb(183, 238, 139);
  text-decoration: none;
}

.port:hover {
  background-color: rgb(140, 209, 83);
}

.oitachi {
  font-size: 16px;
  width: 25%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius: 5px;
  border-width: 0;
  color: black;
  background-color: rgb(226, 161, 226);
  text-decoration: none;
}

.oitachi:hover {
  background-color: rgb(197, 132, 197);
}

.plofilebox {
  display: flex;
}

.resumebox{
  width: 100%;
}

.skillbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 0px;
}

.skill {
  display: flex;
  justify-content: start;
  width: 80%;
  padding: 10px 0px;
  font-size: 14px;
}

.qrcode {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  position: fixed;
  top:50px;
  right:20px;
  border-radius: 5px;
  font-size: 10px;
  z-index: 999;
}