.home {
  display: grid;
  grid-template-columns: 200px 1fr;
  background-color: #464444;
  color: rgb(203, 204, 204);
}

.contents {
  padding: 15px;
}

* {
  margin: 0;
  padding: 0;
}

.boxmyresume {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 50px;
}

.bbutton {
  width: 100%;
  height: 50px;
  margin: 0px;
  // border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(241, 178, 178);
  background-color: transparent;
  color: black;
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}

.bbutton:hover {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background-color: rgb(231, 138, 138);
}

.btext {
  width: auto;
  background-color: transparent;
  color: black;
}

.btext:hover {
  background-color: transparent;
  color: black;
  width: auto;
}

// 表のCSS
.title {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  border: 1px solid #181717;
  padding: 8px;
  margin: 10px;
  height: 30px;
  text-align: left;
}

td {
  border: 1px solid #181717;
  padding: 8px;
  height: 30px;
  text-align: left;
  vertical-align: middle;
}

.tdtext {
  // border: 1px solid #181717;
  // padding: 8px;
  height: 30px;
  text-align: left;
  vertical-align: middle;
  padding-left: 20px;
}

.thbox {
  padding-left: 20px;
}

.thtext {
  padding-left: 20px;
}

.aicon {
  height: 30px;
  text-align: center;
  vertical-align: middle;
}

tr {
  height: 50px;
}

.btitle {
  display: flex;
  justify-content: start;
}

.hyoutotle {
  padding: 20px;
  margin: 20px;
}

.checkbox {
  margin: 0px 0px;
  font-size: larger;
}

thead {
  border-width: 10px;
  border-style: solid;
  border-color: black;
}

.pldown {
  width: 80px;
  height: 25px;
  color: aliceblue;
  background-color: #636262;
  border: none;
  border-radius: 5px;
}

.trbox {
  border-bottom: 1px solid #616060;
}

.trbox:hover {
  background-color: #646363;
  cursor: pointer;
}

.trmainbox {
  border-bottom: 1px solid #8a8787;
}

